[i_head]

[i_calender]

[i_header]

<link rel="stylesheet" href="/themes/datingapp/assets/css/chat.css"/>


    <!-- chatting  -->
    <section class="chatting">
        <div class="container">
            <div class="row">
                <div class="col-12">
				
                    <div id="frame">
					
						[i_chat_left]



						[i_chat_right]
						
						
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- chatting  -->

[i_footer]
