<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Horecadating</title>
	 <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Responsive, Multipurpose, one page, Portfolio, Business, Creative HTML Template">
    <meta name="description" content="Responsive HTML Business Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
	
</head>
<body>


	<div class="main-sectoin" style="font-family: 'Lato', sans-serif; max-width: 100%; width: 600px; margin: 0 auto;">

		<div class="body" style="padding:0 30px;">
		
			<!-- header -->
			<header class="header" style="text-align: center;">
				<div class="logo" >
					<a href="#"><img src="/themes/datingapp/assets/img/logo-2.png" alt="logo" style="height:80px;"></a>
				</div>
			</header>
			<!-- header -->

			<div class="tag">
				<h2 style="color: #868686;">Beste Frits,<br> Wij hebben nieuwe suggesties <br> voor jou.</h2>
			</div>

			<div class="Suggesties" style="background-image: linear-gradient(#ECE7E7, #FCEAE9); overflow: hidden;padding: 30px; border-radius: 20px;">
				<div class="tilte">
					<h4 style="margin-bottom:  15px; margin-top: 0;"><img src="/themes/datingapp/assets/img/icon.png" alt="" style="width: 40px;">
					<span style="color:#868686; font-size: 20px;">Suggesties</span></h4>
				</div>

				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>

				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>
				<div class="Sugges" style="width: 32%; overflow: hidden; float: left; margin-right: 1%; background: #fff; text-align: center; margin-bottom: 10px; padding-bottom: 15px;">
					<img src="/themes/datingapp/assets/img/a.png" alt="" style="height:100%;
					width: 100%;">
					<h4 style="margin:0; font-size: 20px; color: #868686;">Dees</h4>
					<p style="margin:0; color: #868686; font-size: 13px;">12 Lorem ipsum </p>
				</div>

			</div>

			<div class="tag" style="text-align: center; padding-bottom: 10px;">
				<h2 style="color: #868686; font-size: 24px;">Ga naar <u>je profiel</u> en vind daar meer <br> suggesties</h2>
			</div>

			<footer class="footer" style="padding: 10px 0; text-align: center; color: #868686;">
				<p><u>Klik op deze link</u> om je uit te schrijven. <br> Vragen? <u>Klik hier</u> om contact met ons op te nemen.</p>
			</footer>

		</div>
	</div>
	
</body>
</html>