<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Horecadating</title>
	 <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Responsive, Multipurpose, one page, Portfolio, Business, Creative HTML Template">
    <meta name="description" content="Responsive HTML Business Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
	
</head>
<body>


	<div class="main-sectoin" style="font-family: 'Lato', sans-serif; max-width: 100%; width: 600px; margin: 0 auto;">

		<div class="body" style="padding:0 30px;">
		
			<!-- header -->
			<header class="header" style="text-align: center;">
				<div class="logo" >
					<a href="#"><img src="/themes/datingapp/assets/img/logo-2.png" alt="logo" style="height:80px;"></a>
				</div>
			</header>
			<!-- header -->

			<div class="tag">
				<h2 style="color: #868686;">Beste Frits, <br> Welkom bij HorecaDating. <br> <u>Bevestig je inschrijving</u> en vindt jouw <br> match.</h2>
			</div>
			
			<div class="btn" style="text-align: center; padding: 20px 0;">
				<a href="#" style="text-decoration: none; border: 1px solid #868686; color: #868686;
				font-size: 20px; padding: 10px 20px; border-radius: 10px;">Bevestig inschrijving</a>
			</div>

			<div class="tag">
				<h2 style="color: #868686;">Wat je van ons kan verwachten:</h2>
			</div>

			<div class="ser" style="margin-bottom: 20px;">
				<h3 style="font-size: 24px; color: #69150C; margin:0; line-height: 2;"><img src="/themes/datingapp/assets/img/tag1.png" alt="" style="width: 40px; margin-right: 10px;"> Veilig & betrouwbaar</h3>
				<p style="margin: 0; color: #69150C; font-size: 18px; font-weight: 600; font-style: italic;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
			</div>
			<div class="ser" style="margin-bottom: 20px;">
				<h3 style="font-size: 24px; color: #69150C; margin:0; line-height: 2;"><img src="/themes/datingapp/assets/img/tag2.png" alt="" style="width: 40px; margin-right: 10px;"> Serieuze profielen</h3>
				<p style="margin: 0; color: #69150C; font-size: 18px; font-weight: 600; font-style: italic;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
			</div>
			<div class="ser" style="margin-bottom: 20px;">
				<h3 style="font-size: 24px; color: #69150C; margin:0; line-height: 2;"><img src="/themes/datingapp/assets/img/tag3.png" alt="" style="width: 40px; margin-right: 10px;"> Klantenservice</h3>
				<p style="margin: 0; color: #69150C; font-size: 18px; font-weight: 600; font-style: italic;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
			</div>

			<div class="tag" style="text-align: center; padding: 20px 0;">
				<h2 style="color: #868686; font-size: 24px;">Ga naar <u>je profiel</u> en zoek jouw match!</h2>
			</div>


			<footer class="footer" style="padding: 10px 0; text-align: center; color: #868686;">
				<p><u>Klik op deze link</u> om je uit te schrijven. <br> Vragen? <u>Klik hier</u> om contact met ons op te nemen.</p>
			</footer>

		</div>
	</div>
	
</body>
</html>