[i_head]

[i_calender]

[i_header]

<link rel="stylesheet" href="/themes/datingapp/assets/css/profile.css"/>
<link rel="stylesheet" href="/themes/datingapp/assets/css/favourite.css"/>


[i_portfolio_two_slider]

  <!-- news-feed -->
  <section class="news-feed">
    <div class="container">
      <div class="row">
        <div class="col-12">
          
          <div class="buttons">
            <a class="btns" href="#"> <i class="fa fa-times-circle" aria-hidden="true"></i> Lorem ipsum dolor sit</a>
            <a class="btns" href="#"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Lorem ipsum dolor sit</a>
          </div>

        </div>
            <div class="container-fluid gedf-wrapper">
              <div class="row">
                  <div class="col-md-3 col-xl-3">
                   
				   [i_portfolio_two_favourite]

                      <div class="bio-text">
                        <h5>mija bio</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat debitis quasi ex esse ut corrupti asperiores earum commodi ipsam fugiat </p>
                      </div>


                      <div class="card">
                          <div class="card-body">
                            <ul>
                              <li><a href="#"><i class="fa fa-birthday-cake" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-window-minimize" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-glass" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-hourglass-o" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                            </ul>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item tag-item">
                                <p><i class="fa fa-info" aria-hidden="true"></i> Habbit:</p>
                                <a href="#">add</a>
                                <a href="#">more</a>
                                <a href="#">something</a>
                                <a href="#">add</a>
                              </li>
                              <li class="list-group-item tag-item">
                                <p><i class="fa fa-tachometer" aria-hidden="true"></i> Habbit:</p>
                                <a href="#">add</a>
                                <a href="#">more</a>
                                <a href="#">something</a>
                                <a href="#">add</a>
                              </li>
                              <li class="list-group-item">
                                 <a href="#"><i class="fa fa-building-o" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-cc" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                              </li>

                              <li class="list-group-item">
                              <a href="#"><i class="fa fa-car" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-building-o" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-6 gedf-main">

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card">
                          <div class="card-header">

                          </div>
                          <div class="card-body">
                            <div class="post">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quam debitis officia ratione maxime dolor. Itaque molestias maiores nesciunt suscipit doloribus eius harum facere necessitatibus, numquam sint nihil vel ipsa.</p>

                            </div>
                            <div class="post-box">
                              <div class="pro-img chat-name">
							   <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                                
                                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div> 
                               <img class="img-fluid textnomy" src="/themes/datingapp/assets/img/text.png" alt="">
                            </div>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
							 <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                                
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                              <p class="card-text">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                                  sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                              </p>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->


                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid bg-red">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
							 <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eius odio eum soluta atque voluptatibus ducimus</h4>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
							 <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                              <p class="card-text">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                                  sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                              </p>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid bg-yellow">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                                <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                            <h3>jon de</h3>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->
					  
					  <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid short-post">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                                 <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                            <p class="card-text">
                                  Lorem ipsum dolor sit amet consectetur adipisicing
                              </p>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid short-post float-right">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                                 <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                            <p class="card-text">
                                  Lorem ipsum dolor sit amet consectetur adipisicing
                              </p>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->
					  
					  

                  </div>


                  <div class="col-md-3 col-xl-3">
                    <div class="favorite">
                      <div class="head">
                        <h3><span class="pink"><i class="fa fa-heart" aria-hidden="true"></i> </span> matches
                        <div class="dropdown navbar">
                          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                        </h3>

                      </div>

                      <div class="favoritess">

                      <div class="favor-list">
                        <div class="sugges">
                          <div class="sugges-img">
                            <a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/Auteur.png" alt=""></a>
                          </div>
                          <div class="sugges-con">
                            <div class="name">
                              <h4>jon de</h4>
                              <small>Lorem ipsum dolor sit amet</small>

                            </div>

                            <div class="sugges-btn">
                              <a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="favor-list">
                        <div class="sugges">
                          <div class="sugges-img">
                            <a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/Auteur.png" alt=""></a>
                          </div>
                          <div class="sugges-con">
                            <div class="name">
                              <h4>jon de</h4>
                              <small>Lorem ipsum dolor sit amet</small>

                            </div>

                            <div class="sugges-btn">
                              <a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="favor-list">
                        <div class="sugges">
                          <div class="sugges-img">
                            <a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/Auteur.png" alt=""></a>
                          </div>
                          <div class="sugges-con">
                            <div class="name">
                              <h4>jon de</h4>
                              <small>Lorem ipsum dolor sit amet</small>

                            </div>

                            <div class="sugges-btn">
                              <a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="favor-list">
                        <div class="sugges">
                          <div class="sugges-img">
                            <a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/Auteur.png" alt=""></a>
                          </div>
                          <div class="sugges-con">
                            <div class="name">
                              <h4>jon de</h4>
                              <small>Lorem ipsum dolor sit amet</small>

                            </div>

                            <div class="sugges-btn">
                              <a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a>
                            </div>
                          </div>
                        </div>
                      </div>

                      </div>

                      <div class="post-pagination">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>


                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
  <!-- news-feed -->




  [i_footer]



