[i_head]

[i_calender]

[i_header]

<link rel="stylesheet" href="/themes/datingapp//themes/datingapp/assets/css/profile.css"/>





[i_upload_photo]


[i_color_box]



    

    <!-- profile-cover -->
    <div class="profile-cover profile41">
      <div class="cover-overly">
        <a href="#"data-toggle="modal" data-target="#exampleModalCenter"><p>lprem owdi <i class="fa fa-camera" aria-hidden="true"></i></p></a>
      </div>
      <div class="container">
        <div class="row">

            <div class="profile profile41">
              <a href="#"><img class="img-fliud" src="/themes/datingapp/assets/img/man.jpg" alt="profile"></a>
              <div class="profile-overly">
                <p>lprem owdi <i class="fa fa-camera" aria-hidden="true"></i></p>
              </div>
              <div class="pro-name">
                <h3>jon de</h3>
                <small>profile about</small>
              </div>
            </div>
          
        </div>
      </div>
    </div>
    <!-- profile-cover -->


  <!-- news-feed -->
  <section class="news-feed">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="switch">
          <span>Lorem ipsum dolor sit amet</span> 
           <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"> 
            <div class="handle"></div>
          </button>
            
          </div>

        </div>
            <div class="container-fluid gedf-wrapper">
              <div class="row">
                  <div class="col-md-3 col-xl-3">
                      <div class="card">
                          <div class="card-body">
                            <ul>
                              <li><a href="#"><i class="fa fa-birthday-cake" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-window-minimize" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-glass" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                              <li><a href="#"><i class="fa fa-hourglass-o" aria-hidden="true"></i> something: <span>20-11-19</span></a></li>
                            </ul>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item tag-item">
                                <p><i class="fa fa-info" aria-hidden="true"></i> Habbit:</p>
                                <a href="#">add</a>
                                <a href="#">more</a>
                                <a href="#">something</a>
                                <a href="#">add</a>
                              </li>
                              <li class="list-group-item tag-item">
                                <p><i class="fa fa-tachometer" aria-hidden="true"></i> Habbit:</p>
                                <a href="#">add</a>
                                <a href="#">more</a>
                                <a href="#">something</a>
                                <a href="#">add</a>
                              </li>
                              <li class="list-group-item">
                                 <a href="#"><i class="fa fa-building-o" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-cc" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                              </li>

                              <li class="list-group-item">
                              <a href="#"><i class="fa fa-car" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-building-o" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> something: <span>20-11-19</span></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-6 gedf-main">

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card">
                          <div class="card-header">

                          </div>
                          <div class="card-body">
                            <div class="post">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quam debitis officia ratione maxime dolor. Itaque molestias maiores nesciunt suscipit doloribus eius harum facere necessitatibus, numquam sint nihil vel ipsa.</p>

                            </div>
                            <div class="post-box">
                              <div class="pro-img chat-name">
                               <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                               
                                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div> 
                               <img class="img-fluid textnomy" src="/themes/datingapp/assets/img/text.png" alt="">
                            </div>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                               <ul>
                                   <li><img class="img-fluid p-img" src="/themes/datingapp/assets/img/asd.png" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                                
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                              <p class="card-text">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                                  sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                              </p>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->


                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid bg-red">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                               <ul>
                                   <li><img class="img-fluid" width="45" src="https://picsum.photos/50/50" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                                
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eius odio eum soluta atque voluptatibus ducimus</h4>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                                <ul>
                                   <li><img class="img-fluid" width="45" src="https://picsum.photos/50/50" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                               
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                              <p class="card-text">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                                  sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                              </p>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->

                      <!--- \\\\\\\Post-->
                      <div class="card gedf-card post-grid bg-yellow">
                          <div class="card-header">
                            <div class="mr-2 chat-name">
                                <ul>
                                   <li><img class="img-fluid" width="45" src="https://picsum.photos/50/50" alt=""></li>
                                   <li>Stephaine</li>
                               </ul>
                                
                            </div>
                         
                            <div class="time">
                              <p>12-may-2019</p>
                            </div>
                                      

                          </div>
                          <div class="card-body">
                            <h3>jon de</h3>
                          </div>
                          <div class="card-footer">
                              <a href="#" class="card-link"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                              <a href="#" class="card-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                          </div>
                      </div>
                      <!-- Post /////-->

                  </div>


                  <div class="col-md-3 col-xl-3">
                    <div class="image-grid">
                      <h4>foto'r </h4>

                        <span class=" navbar">
                          <ul>
                            <li class="dropdown">
                            <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>
                          </ul>
                        </span>
                        
                      <div class="image-gallery">
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="gallay">
                          <a href="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" data-lightbox="image-1"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a>
                        </div>

                      </div>

                      <div class="post-pagination">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>

                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
  <!-- news-feed -->

   
[i_message_chat]


[i_footer]