[i_head]

[i_calender]

[i_header]
    
<link rel="stylesheet" href="/themes/datingapp/assets/css/suggestion.css"/>	
	
    <!-- suggestions -->
    <section class="suggestions another-sug">
      <div class="container">
        <div class="row">

        [i_suggestion]
		 [i_suggestion] 
		 [i_suggestion] 
		 [i_suggestion]
		 [i_suggestion]
		 [i_suggestion] 
		 [i_suggestion]
		 [i_suggestion]
		 [i_suggestion]



        </div>
      </div>
    </section>
    <!-- suggestions -->

   [i_message_chat]


[i_footer]