

/* ************************
suggestions
****************************** */
.suggestions {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(#0A0201, #67150C);
}

.suggestions .sugges-img {
  width: 160px;
  height: 170px;
  float: left;
  margin-right: 15px;
}
.suggestions .sugges-img img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.suggestions .sugges {
  background: #fff;
  border-radius: 10px;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}
.suggestions .sugges-con {
  margin-left: 20px;
  overflow: hidden;
} 
.sugges-con .name {
  display: block;
  padding: 5px;
  position: relative;
}
.sugges-con .name h4{
  color: #555;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.sugges-con .name h4:after{
  display: block;
  content: '';
  clear: both;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #1dbf73;
  position: absolute;
  top: 12px;
  left: 60px;
}
.sugges-con .name small {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
  display: inline-block;
}
.sugges-con .name p{
  color: #555;
  line-height: 1.5;
  font-size: 14px;
  text-transform: capitalize;
}

.sugges-con .name .tag p{
  display: inline-block;
}
.sugges-con .name .tag a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #868686;
  text-transform: capitalize;
  padding: 2px 5px;
  font-size: 13px;
  margin-bottom: 3px;
  border-radius: 30px;
}

.sugges-con .sugges-btn {
  text-align: center;
}
.sugges-con .sugges-btn a{
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  padding: 5px 30px;
}

.sugges-con .sugges-btn span.green {
  color: #76B82A;
}
.sugges-con .sugges-btn span.yellow {
  color: #FEC700;
}
.sugges-con .sugges-btn span.xx {
  color: #E42C1F;
}

/* *******************
another-sug
********************** */
.another-sug {
  background-image: linear-gradient(#020301, #74B529);
}

.pink-sug {
  background-image: linear-gradient(#3F2724, #EC928B);
}


