<!-- Color-box -->
<div class="color-box">
  <div class="switch">
   <span>Lorem ipsum dolor sit amet</span> 
     <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"> 
      <div class="handle"></div>
    </button>
    
  </div>

  <div class="color-control">
    <h5>Lorem ipsum dolor sit amet</h5>
    <p>lorew</p>
    <p> <span class="seleew">Lorem ipsum </span>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </p>
  <p>colors <span> <input type="color" value="#1DB8CE" id="colorPicker"></span></p>
  </div>


  <div class="color-control">
    <h5>lorewm  lorewm  </h5>
    <p>colors <span><input type="color" value="#1DB8CE" id="colorPicker"></span></p>
    <p>colors <span><i class="fa fa-camera" aria-hidden="true"></i></span></p>
    <p>colors <span><input type="color" value="#1DB8CE" id="colorPicker"></span></p>
    <p>colors <span><i class="fa fa-camera" aria-hidden="true"></i></span></p>
  </div>

  <div class="color-control">
    <h5>lorewm  lorewm  </h5>
    <p>colors <span><input type="color" value="#1DB8CE" id="colorPicker"></span></p>
    <p>colors <span><i class="fa fa-camera" aria-hidden="true"></i></span></p>
  </div>

  <div class="color-control">
    <a class="prev" href="#">previous</a>
    <a class="next" href="#">next</a>
  </div>

  
</div>

<!-- Color-box -->