<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Horecadating</title>
    <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Responsive, Multipurpose, one page, Portfolio, Business">
    <meta name="description" content="Responsive HTML Business Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
    <!--favicon icon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/datingapp/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/datingapp/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/datingapp/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/themes/datingapp/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/themes/datingapp/assets/img/favicon/safari-pinned-tab.svg" color="#d8006b">
    <link rel="shortcut icon" href="/themes/datingapp/assets/img/favicon/favicon.ico">

    <!-- CSS style  links-->
    <link rel="stylesheet" href="/themes/datingapp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/themes/datingapp/assets/css/font-awesome.min.css">
	 <link rel="stylesheet" href="/themes/datingapp/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/themes/datingapp/assets/css/mini-event-calendar.min.css">
    <link rel="stylesheet" href="/themes/datingapp/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/themes/datingapp/assets/css/normalize.css">
    
    <link rel="stylesheet" href="/themes/datingapp/assets/css/style.css">
    <link rel="stylesheet" href="/themes/datingapp/assets/css/responsive.css">
    
    <!-- modernizr.js -->
    <script src="/themes/datingapp/assets/js/modernizr.js"></script>
  </head>
  <body>
    <!-- loader -->
    <div class="loader"></div>
    <!-- loader -->

