
    <!-- header-area -->
    <header class="headers">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="navbar frits">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-fluid" src="/themes/datingapp/assets/img/asd.png" alt=""> <span class="sadasd">frits</span> 
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>

                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item active"><a class="nav-link" href="#"><span class="green"><i class="fa fa-heart" aria-hidden="true"></i> </span> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span> suggest </a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><span class="green"><i class="fa fa-heart" aria-hidden="true"></i></span> favorite</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><span class="red"><i class="fa fa-heart" aria-hidden="true"></i></span> matches</a></li>
                              <li class="nav-item"><a class="nav-link" href="#"><span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span> chats</a></li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ">
                              <input class="form-control " type="search">
                              <span class="search"><i class="fa fa-search" aria-hidden="true"></i></span>

                              <button type="button" class="btn event" data-toggle="modal" data-target="#exampleModal">
                              <i class="fa fa-calendar" aria-hidden="true"></i> event
                              </button>
                             
                            </form>
                          </div>

                          <a class="navbar-brand" href="index.html"><img class="img-fluid" src="/themes/datingapp/assets/img/logo-2.png" alt="logo"></a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area -->