
  <link rel="stylesheet" href="/themes/datingapp/assets/css/popup.css" />
  
  <section class="popup-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="close-icon"><img class="img-fluid" src="/themes/datingapp/assets/img/close.png" alt=""></div>
        </div>
        <div class="col-12">
          
            <div class="popup">
              <div class="navbar pop-setting">
                <ul>
                  <li class="dropdown">
                  <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                </ul>
              </div>
            <img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt="">
          </div>

          <div class="sub-popup">
            <ul>
              <li><a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/gaetano-cessati-128340-unsplash.jpg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>