 <div class="favorite">
                      <div class="head">
                        <h3><span class="green"><i class="fa fa-heart" aria-hidden="true"></i> </span> favorite
                        <div class="dropdown navbar">
                          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                        </h3>

                      </div>

                      <div class="favoritess">
                      <div class="favorite-list">
                        <a href="#"><img class="img-fliud" src="/themes/datingapp/assets/img/Auteur.png" alt="profile"></a>
                        <div class="pro-name">
                          <ul>
                            <li><a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a></li>
                            <li><a href="#"> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
                            
                          </ul>
                          <h3>jon de</h3>
                          <small>profile about</small>
                        </div>
                      </div>
                      <div class="favorite-list">
                        <a href="#"><img class="img-fliud" src="/themes/datingapp/assets/img/Auteur.png" alt="profile"></a>
                        <div class="pro-name">
                          <ul>
                            <li><a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a></li>
                            <li><a href="#"> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
                            
                          </ul>
                          <h3>jon de</h3>
                          <small>profile about</small>
                        </div>
                      </div>
                      <div class="favorite-list">
                        <a href="#"><img class="img-fliud" src="/themes/datingapp/assets/img/Auteur.png" alt="profile"></a>
                        <div class="pro-name">
                          <ul>
                            <li><a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a></li>
                            <li><a href="#"> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
                            
                          </ul>
                          <h3>jon de</h3>
                          <small>profile about</small>
                        </div>
                      </div>
                      <div class="favorite-list">
                        <a href="#"><img class="img-fliud" src="/themes/datingapp/assets/img/Auteur.png" alt="profile"></a>
                        <div class="pro-name">
                          <ul>
                            <li><a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a></li>
                            <li><a href="#"> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
                            
                          </ul>
                          <h3>jon de</h3>
                          <small>profile about</small>
                        </div>
                      </div>
                      </div>

                      <div class="post-pagination">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>


                      </div> 