<style>
	
</style>
	
	
   <div class="form-group inline-form">
                              
							  
	  <div class="form-group row">
		<div class="col-sm-12">
		  <label class="form-check-label" for="">Lorem ipsum dolor sit amet</label>
		</div>
		<div class="col-sm-12">
		   <div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
			  <label class="form-check-label" for="inlineRadio1">male</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
			  <label class="form-check-label" for="inlineRadio2">female</label>
			</div>
		</div>
	  </div>
	  
							  
                             
                             
   </div>
		
	
		




<script type="text/javascript">
	
</script>