<style>
	
</style>

<div class="form-group Upload">

	   <div class="form-group">
		<img class="img-fluid" src="/themes/datingapp/assets/img/ca.png" alt="">
		<span class="or">or</span>
	  </div>

	  <div class="form-group file">
		<div class="fileUpload btn btn--browse">
			<span><i class="fa fa-upload" aria-hidden="true"></i></span>
			<input id="uploadBtn" type="file" class="upload" />
		</div>
			<span class="sub-text">upload a photo</span>
	  </div>
	  
</div>

<script type="text/javascript">
	
</script>