 
 <style type="text/css">
	
	.profile-cover .profile {
  background:  #fff;
  border-radius: 10px;
  padding: 0 0 10px 0;
  width: 160px;
  margin-left: 50px;
  margin-top: 5px;
}
.profile-cover .profile img{
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.pro-name span.green{
  color: #76B82A;
}
.pro-name span.yellow{
  color: #FEC700;
}
.pro-name span.xx{
  color: #E42C1F;
}
.pro-name {
  text-align: center;
}
.pro-name ul{
  margin: 0;
  padding: 0;
}
.pro-name ul li {
  list-style: none;
  display: inline;
}

.pro-name a {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
}

.pro-name h3{
  color: #555;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.pro-name small{
  font-size: 13px;
  text-transform: capitalize;
  color: #555;
}


.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

 
 </style>
 
 
 <div class="profile">
  <a href="#"><img class="img-fliud" src="/themes/datingapp/assets/img/Auteur.png" alt="profile"></a>
  <div class="pro-name">
	<ul>
	  <li><a href="#"> <span class="green"><i class="fa fa-heart" aria-hidden="true"></i> </span></a></li>
	  <li><a href="#"> <span class="yellow"><i class="fa fa-comment" aria-hidden="true"></i></span></a></li>
	  <li><a href="#"> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
	  
	</ul>
	<h3>jon de</h3>
	<small>profile about</small>
  </div>
</div>