  <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="sugges">
              <div class="sugges-img">
                <a href="#"><img class="img-fluid" src="/themes/datingapp/assets/img/Auteur.png" alt=""></a>
              </div>
              <div class="sugges-con">
                <div class="name">
                  <h4>jon de</h4>
                  <small>Lorem ipsum dolor sit amet</small>
                  <p>height: 156cm</p>
                  <p>kondom: green</p>
                  <div class="tag">
                    <p>habit:</p>
                    <a href="#">red</a>
                    <a href="#">green</a>
                    <a href="#">blue</a>
                    <a href="#">yellow</a>
                    <a href="#">yellow</a>
                    
                  </div>
                </div>

                <div class="sugges-btn">
                  <a href="#"> <span class="green"><i class="fa fa-heart" aria-hidden="true"></i> </span></a>
                  <a href="#"> <span class="xx"><i class="fa fa-times" aria-hidden="true"></i></span></a>
                </div>
              </div>
            </div>
          </div>