<!-- cover-modal -->
<div class="modal cover-modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Select your photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="owl-carousel">
          <div class="item">
            <a href="#"><img src="/themes/datingapp/assets/img/asd.png" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img src="/themes/datingapp/assets/img/man.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img src="/themes/datingapp/assets/img/asd.png" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img src="/themes/datingapp/assets/img/man.jpg" alt=""></a>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <a class="prev" href="#">upload photo <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>
        <a class="prev" href="#">make a photo <i class="fa fa-camera" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
